- model_class = AccessCode
%ul
  - @user_access_code_types.each do |user_access_code_type|
    -access_code_type = user_access_code_type.access_code_type
    %li
      You've created
      - created_count = user_access_code_type.access_codes.count
      %strong= pluralize(created_count, access_code_type.name)
      out of your
      %strong= user_access_code_type.allowance
      code allowance.

%p Need a higher code allowance? Ask Ben or Andrew
= render :partial => "form"