- model_class = AccessCode
.container
  = render partial: 'event_header'
  - num_codes_created = @access_codes.length
  = render :partial => 'new'
  %br
  = render partial: 'access_codes_table', locals: {num_codes_created: num_codes_created}
