- model_class = AccessCode
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th Access Code
      %th Invitee Info
      %th Order Info
  %tbody
    - @access_codes.each do |access_code|
      %tr
        %td= access_code.code
        %td
          For #{access_code.invitee_name}
          who is #{access_code.invitee_info}
          =link_to access_code.invitee_url, url_with_protocol(access_code.invitee_url), :target => '_blank'
        %td [No order yet]

%form.form-inline
  .form-group
    %input.form-control(placeholder="Access Code")
  .form-group
    %input.form-control(placeholder="Invitee Full Name")
  .form-group
    %input.form-control(placeholder="Invitee URL")
  .form-group
    %input.form-control(placeholder="Additional Invitee Info")
  %button.btn.btn-primary Create Code
