%h1 My Events
-if @events.length == 0
  %p You currently have no events
-else
  .table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Title
        %th Starts At
        %th Ends At
    %tbody
      - @events.each do |event|
        %tr.event
          %td.event-title
            =link_to event.title, event_access_codes_path(event)
          %td.event-start-at= event.start_at.strftime('%b %e, %Y %l:%M%p')
          %td.event-end-at= event.end_at.strftime('%b %e, %Y %l:%M%p')