%p
  You've been granted access to the
  =link_to '20Mission Promo Dashboard', confirmation_url(@resource, confirmation_token: @token) + '.'
  This promo dashboard lets you create Access Codes
  for buying tickets to our invite-only party.

%p
  Consider yourself special because this magical tool i only available to 20Mission housemates and
  %a{href: "http://bit.ly/toobigcreator", target: '_new'}
    Event Creators
%p
  Everyone else (inlcuding your friends) has to buy tickets via an Access Code on Eventbrite.

%p
  So
  =link_to 'invite your peeps now!', confirmation_url(@resource, confirmation_token: @token)

%p -- Ben G and the good folks at 20Mission.
